div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid brown;
    /* border-radius: 25 %; */
    /* padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px; */
    padding: 25px 10px 20px 30px;
    margin: 25px;
}